#main .convocatoria {
    border: 1px solid #000000;
    position: relative;
}

#main .convocatoria .title {
    margin: 0px;
    padding: 5px;
    background: -moz-linear-gradient(center top , #162D50, #1A243B) repeat scroll 0 0 transparent;
}

#main .convocatoria .title a {
    text-transform: uppercase;
    color: #ffffff;
}

#main .convocatoria .redaction {
    float: right;
    margin-left: 200px;
    padding: 5px 10px;
    overflow: auto;
    height: 180px;
    border-left: 1px dashed #000000;
}

#main .convocatoria .information {
    position: absolute;
    left: 0px;
    width: 200px;
}

#main .convocatoria .information p,
#main .widget p {
    padding: 1px 6px;
}

#main .convocatoria .information p label,
#main .widget p label {
    font-weight: bold;
    padding: 0px 6px 0px 0px;
}

/* clases para la pestaña de previsualización */
#preview h1,
#preview h2,
#preview h3,
#preview h4 {
    font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
    font-weight: normal;
}

#preview h1 {
    font-size: 20px;
    text-align: center;
    padding: 0px 0px 10px 0px;
}

#preview h2 {
    font-size: 18px;
    padding: 15px 0px 5px 0px;
}

#preview h3 {
    font-size: 16px;
    padding: 10px 0px 5px 0px;
}

#preview h4 {
    font-size: 14px;
    padding: 5px 0px 5px 0px;
}

#preview p {
    font-size: 12px;
    padding: 10px 0px;
    line-height: 2.0em;
}

#preview ol {
    padding: 0px 0px 0px 40px;
    list-style-type: lower-alpha;
}

#preview ul {
    padding: 0px 0px 0px 40px;
    list-style-type: disc;
}

#preview table {
    width: 100%;
}

#preview table tr th {
    padding: 4px 0px;
}

#preview table tr td {
    padding: 4px;
    border: 3px solid #ffffff;
}

#preview .fecha {
    display: block;
    padding: 20px 0px 20px 0px;
}

#preview .fecha p {
    text-align: center;
}

#preview .firmas {
    text-align: center;
}

#preview .firmas .firma {
    display: inline-block;
    margin: 8.0em 1.5em 1.0em 1.5em;
}

#preview .firmas .firma .nombre {
    text-align: center;
}

#preview .firmas .firma .cargo {
    text-align: center;
    text-transform: uppercase;
}

/* clases para la pestaña de redacción */
#redaction .tree {
    float: left;
    margin: 10px 0px 0px 0px;
    width: 210px;
}

#redaction .tree h1 {
    font-size: 18px;
}

#redaction .tree p {
    margin: 0px 5px 0px 0px;
}

#redaction .tree ul {
    list-style-type: none;
    border-bottom: 1px solid #000000;
}

#redaction .tree ul li {
    display: block;
    padding: 2px 0px;
    border-top: 1px solid #000000;
}

#redaction .tree ul li .title {
    font-weight: bold;
    padding-left: 5px;
}

#redaction .tree ul li a {}
#redaction .tree ul li a:hover {}

#redaction .tree ul li ul.options {
    margin-left: 15px;
    border-bottom: none;
}

#redaction .tree ul li ul.options li {
    display: inline-block;
    border: none;
}

#redaction .tree ul li ul.options li a {
    margin: 0px;
    padding: 0px 3px;
    line-height: normal;
    font-size: 11px;
    text-transform: none;
    background: none;
    border: none;
}

#redaction .tree ul li ul.options li a:hover {
    color: #000000;
}
