/* PALETTE
    #162d50 // links <a>
    #1a243b // background
    #e0e0e0 // even
    #f0f0f0 // odd
    #ffffff
*/

* {
    font-family: "Lucida Sans","Lucida Grande","Lucida Sans Unicode",sans-serif;
    font-size: 12px;
    padding: 0pt;
    margin: 0pt;
    outline: medium none;
}

a {
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

.left { float: left; }
.right { float: right; }
.clear { clear: both; }

.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }

.bold { font-weight: bold; }
.disabled { color: #b0b0b0; }

/* Propiedades para la barra de principal de enlaces */
#menu {
    /* propiedades para un layout desktop */
    position: fixed;
    width: 100%;
    z-index: 120;
    top: 0px;
    /* fin propiedades */

    background: #1A243B;
    background: -moz-linear-gradient(center top , #162D50, #1A243B) repeat scroll 0 0 transparent;
    box-shadow: 0px 2px 8px #666666;
}

#menu ul {
    list-style: none;
}

#menu ul li {
    float: left;
}

#menu ul li a {
    color: #FFFFFF;
    float: left;
    padding: 8px 8px;
    font-size: 11px;
}

/* Propiedades del menu inferior */
#footer {
    float: left;
    width: 100%;
    background-color: #E0E0E0;
}

#footer ul {
    float: right;
    list-style: none;
}

#footer ul li {
    float: left;
}

#footer ul li a {
    float: left;
    padding: 8px 10px;
    color: #162D50;
    font-size: 10px;
    font-weight: normal;
}

/* Propiedades del contenido principal */
#content {
    max-width: 960px;
    margin: 0px auto;

    /* propiedades para un layout desktop */
    margin-top: 30px;
    /* fin propiedades */
}

#main {
    padding: 10px 5px;
}

#main p {
    font-size: 12px;
    line-height: 16px;
    text-align: justify;
    padding: 5px 0px;
}

#main a {
    margin: 0px;
    padding: 0px 5px;
    color: #162D50;
}

#main h1, #main h2, #main h3, #main h4 {
    font-family: Times,"Times New Roman",Georgia,serif;
}

#main h1 {
    font-size: 32px;
}

#main h2 {
    font-size: 26px;
    margin-top: 10px;

}

#main h3 {
    font-size: 20px;
    margin-top: 10px;
}

#main h4 {
    font-size: 18px;
    margin-top: 10px;
}

/* tablas en el contenido principal */
#main table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
}

#main table .header {
    background: #162D50;
    color: #ffffff;
}

#main table .header th {
    padding: 0.3em 0em;
}

#main table .odd {
    background-color: #f0f0f0;
}

#main table .even {
    background-color: #e0e0e0;
}

#main table tr td {
    padding: 0.3em 0.4em;
    vertical-align: top;
}

#main table tr td a {
    font-weight: normal;
}

#main table tr td ul li {
    display: inline;
}

#main div.tasks {
    margin: 20px 10px 10px 10px;
}

#main div.tasks ul {
    list-style: none;
}

#main div.tasks ul li {
    display: inline-block;
}

#main div.tasks ul li a {
    background-color: #E0E0E0;
    padding: 2px 8px;
    margin: 0px 3px;
}

#main div.tasks ul li a:hover {}

#main dl {
    margin: 10px 0px;
}

#main dl dt a {
    padding: 0px;
    font-size: 13px;
}

#main dl dd {
    padding: 4px 0px 16px 8px;
}

/* estilos para los formularios */
#main form p {
    margin: 8px 0px;
}

#main form p label {
    float: left;
    width: 200px;
    text-align: right;
    margin-right: 10px;
}

#main form p table tr td label {
    text-align: left;
    width: 200px;
}

#main form p input[type="text"],
#main form p input[type="password"],
#main form p textarea {
    width: 360px;
    border: 1px solid #000000;
    padding: 3px;
}

#main form p textarea {
    height: 180px;
}

#main form p .full-area {
    width: 900px;
    height: 450px;
}

#main form p .middle-area {
    width: 690px;
    height: 450px;
}

#main form p.submit {
    margin-top: 20px;
    margin-left: 210px;
}

#main form p.submit input[type="submit"] {
    border: none;
    background-color: #1A243B;
    color: #ffffff;
    padding: 2px 10px;
    font-weight: bold;
}

#main form ul.error_list {
    list-style: none;
    margin-left: 215px;
}

#main form ul.error_list li {
    color: #666666;
    font-style: italic;
}

/* tabla para listar las opciones en el formulario de convocatorias */
#main form table.form-table {
    margin-left: 210px;
    width: 600px;
}

#main form table.form-table input[type="text"] {
    border: 1px solid #000000;
}

#main .message {
    margin: 10px 10px 10px 10px;
    padding: 4px 10px;
    box-shadow: 0px 1px 5px #666666 inset;
    border-radius: 6px;
}

/* pestañas de las convocatorias */
#tabber {
    background: #f0f0f0;
    border: 1px solid #ffffff;
    position: relative;
}

#tabber>ul {
    overflow: hidden;
    height: 35px;
    position: absolute;
    z-index: 100;
}

#tabber>ul>li.tab {
    float: left;
    list-style: none;
}

#tabber>ul>li>a {
    background: #dddddd;
    color: #666666;
    border-right: 1px solid #ffffff;
    cursor: pointer;
    display: block;
    line-height: 34px;
    padding: 0px 30px;
    text-decoration: none;
    text-transform: uppercase;
}

#tabber li a:hover {
    background: #eeeeee;
}

#tabber li a.active {
    background: #f5f5f5;
    line-height: 35px;
    color: #333333;
}

/* contenedores dentro de las pestañas */
#tabber .tab_details {
    background: #f5f5f5;
    border-top: 1px solid #ffffff;
    margin-top: 34px;
}

#tabber .tab_details .tab_contents {
    padding: 0px 20px 10px 20px;
}

#preview h1,
#preview h2,
#preview h3,
#preview h4 {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-weight: normal;
}

#preview h1 {
    font-size: 20px;
    text-align: center;
    padding: 0px 0px 10px 0px;
}

#preview h2 {
    font-size: 18px;
    padding: 15px 0px 5px 0px;
}

#preview h3 {
    font-size: 16px;
    padding: 10px 0px 5px 0px;
}

#preview h4 {
    font-size: 14px;
    padding: 5px 0px 5px 0px;
}

#preview p {
    font-size: 12px;
    padding: 10px 0px;
    line-height: 20px;
}

#preview ol {
    padding: 0px 0px 0px 40px;
    list-style-type: lower-alpha;
}

#preview ul {
    padding: 0px 0px 0px 40px;
    list-style-type: disc;
}

#preview table {
    width: 100%;
}

#preview table tr th {
    padding: 4px 0px;
}

#preview table tr td {
    padding: 4px;
    border: 3px solid #ffffff;
}

#preview .fecha {
    display: block;
    padding: 20px 0px 20px 0px;
}

#preview .fecha p {
    text-align: center;
}

#preview .firmas {
    text-align: center;
}

#preview .firmas .firma {
    display: inline-block;
    margin: 60px 20px 20px 20px;
}

#preview .firmas .firma .nombre {
    text-align: center;
}

#preview .firmas .firma .cargo {
    text-align: center;
    text-transform: uppercase;
}

#main .buttons {
    float: right;
    background-color: #e0e0e0;
    border-radius: 10px;
    margin: 16px 0px;
    padding: 8px 10px 5px 10px;
}

#main .buttons ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

#main .buttons ul li {
    display: inline-block;
}

#main .buttons ul li a {
    margin: 0px;
    padding: 0px 5px;
    line-height: normal;
    background: none;
    border: none;
}

#main .buttons ul li a:hover {}

#main .widget {
    margin: 10px;
    padding: 10px;
    border: 2px solid #162D50;
    border-top: 10px solid #162D50;
    border-radius: 8px;
    box-shadow: 1px 1px 5px #000000;
}

#main .widget h1,
#main .widget h2 {
    margin: 0px;
    padding: 0px;
    font-size: 20px;
}

#main .widget ul {
    list-style: none;
}

#main .widget ul li {
    margin: 4px 0px;
}

#main .widget ul li a {}
#main .widget ul li a:hover {}

#sf_admin_bar {
    display: inline-block;
    float: none;
}

#redaction .tree {
    float: left;
    margin: 10px 0px 0px 0px;
    width: 210px;
}

#redaction .tree h1 {
    font-size: 18px;
}

#redaction .tree p {
    margin: 0px 5px 0px 0px;
}

#redaction .tree ul {
    list-style-type: none;
    border-bottom: 1px solid #000000;
}
#redaction .tree ul li {
    display: block;
    padding: 2px 0px;
    border-top: 1px solid #000000;
}

#redaction .tree ul li .title {
    font-weight: bold;
    padding-left: 5px;
}

#redaction .tree ul li a {}
#redaction .tree ul li a:hover {}

#redaction .tree ul li ul.options {
    margin-left: 15px;
    border-bottom: none;
}

#redaction .tree ul li ul.options li {
    display: inline-block;
    border: none;
}

#redaction .tree ul li ul.options li a {
    margin: 0px;
    padding: 0px 3px;
    line-height: normal;
    font-size: 11px;
    text-transform: none;
    background: none;
    border: none;
}

#redaction .tree ul li ul.options li a:hover {
    color: #000000;
}

.hidden-box {
    display: none;
}